@font-face {
  font-family: "iconfont"; /* Project id 2580545 */
  src: url('./iconfont.woff2?t=1622381557857') format('woff2'),
       url('./iconfont.woff?t=1622381557857') format('woff'),
       url('./iconfont.ttf?t=1622381557857') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti--:before {
  content: "\e60f";
}

.icon-shangyige:before {
  content: "\e606";
}

.icon-xiayige:before {
  content: "\e60d";
}

.icon-stopfill:before {
  content: "\eb18";
}

